:root {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

@font-face {
    src: url("../assets/fonts/BettinaSignature.ttf");
    font-family: "BettinaSignature";
    font-weight: normal;
    font-display: swap;
  }

body {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

div.main {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/* Category: Text */
h1.title {
    font-family: "BettinaSignature";
    font-size: 20px;
    text-align: inherit;
    margin: 0;
}

h2.options {
    margin-top: 0;
    margin-bottom: 0;
}

p.foodResultText {
    display: none;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    animation: 0.5s linear ease-in-out forwards;
}

@keyframes bounceIn {
    0% { scale: 0%;}
    50% { scale: 125%;}
    100% { scale: 100%;}
}

/* Category: Div */
div.header {
    padding: 2em 0em 1em 0em;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    flex: 0 2 auto;
}

div.mainCardContainer {
    text-align: inherit;
    height: min-content;
    width: 90vw;
    margin: 2em auto 0em auto;
    padding: 0em 0em 0em 0em;
    border-radius: 16px;
    flex: 1 1;
}

div.mainCard {
    text-align: inherit;
    height: min-content;
    width: 90vw;
    min-height: 323px;
    margin: 0em auto 0em auto;
    padding: 2em 0em 2em 0em;
    border-radius: 16px;
}

div.bottomSheet {
    text-align: inherit;
    padding: 0em 0em 0em 0em;
    margin-top: 2em;
    width: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    position: relative;
    flex: 1 1 auto;
}

@keyframes slideUp {
    0% { top: 200px; }
    100% { top: 0px; }
}

@keyframes slideDown {
    0% { top: 0px; }
    100% { top: 200px; }
}

div.optionsMenu {
    display: none;
    position: relative;
    padding: 0em 2em 0em 2em;
    max-height: 50vh;
    overflow: scroll;
}

div.optionsFoodList {
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
}

div.spinner {
    width: 30vh;
    height: 35vh;
    margin: auto;
    border-radius: 11px;
    background-color: white;
    overflow: hidden;
    box-shadow:  inset 0px -190px 26px -190px rgba(92,92,92,1),  inset 0px 190px 26px -190px rgba(92,92,92,1);
}

div.spinnerBorder {
    border-radius: 16px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

/* Category: Buttons */
input[type=button] {
    padding: 1em 2em 1em 2em;
    margin: 2em 0em 0em 0em;
    border-radius: 32px;
    border: 0px hidden;
}

input[type=button].removeButton {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0em 0.5em 0em;
    border-radius: 32px;
    border: 0px hidden;
    background-color: red;
}

input[type=button].openOptions {
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 0em 0em 0em;
    border-radius: 32px;
    border: 0px hidden;
}

input[type=button].exitOptions {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0em 2em 0em;
    border-radius: 32px;
    border: 0px hidden;
}

/* Category: Images */
img.dieIcon {
    width: 50%;
    height: 100%;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    object-fit: contain;
    position: relative;
}

img.foodIcon {
    width: 50%;
    height: 100%;
    object-fit: contain;
    animation: moveUp 0.5s linear normal forwards;
    position: relative;
}

@keyframes moveUp {
    0% {
        top: 250px;
        opacity: 0%;
    }
    50% {
        top: 0px;
        opacity: 100%;
    }

    100% {
        top: -250px;
        opacity: 0%;

    }
}

@keyframes moveHalfUp {
    0% {
        top: 250px;
        opacity: 0%;
    }
    100% {
        top: 0px;
        opacity: 100%;
    }
}

@keyframes finishMoveUp {
    0% {
        top: 0px;
        opacity: 100%;
    }
    100% {
        top: -250px;
        opacity: 0%;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
    }
    div.header {
        background-color: #f5e8e8;
    }
    div.bottomSheet {
        background-color: #f5e8e8;
    }
    div.mainCard {
        background-color: #f5e8e8;
    }
    div.spinner {
        border: 0px black solid;
    }
    div.spinnerBorder {
        border: 5px black solid;
    }
    div.optionsMenu {
        color: black;
        background-color: #f5e8e8;
    }
    input[type=button] {
        background-color: grey;
        color: white;
        font-weight: bold;
    }
    input[type=button].spin {
        background-color: red;
        color: white;
        font-weight: bold;
    }
    input[type=button].openMaps {
        background-color: seagreen;
        color: white;
        font-weight: bold;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0f0f0f;
    }
    h1.title {
        color: red;
    }
    div.header {
        background-color: #222;
    }
    div.bottomSheet {
        background-color: #222;
    }
    div.mainCard {
        background-color: #222;
    }
    div.spinner {
        border: 0px black solid;
    }
    div.spinnerBorder {
        border: 5px black solid;
    }
    div.optionsMenu {
        color: white;
        background-color: #222;
    }
    input[type=button].spin {
        background-color: red;
        color: white;
        font-weight: bold;
    }
    input[type=button].openMaps {
        background-color: seagreen;
        color: white;
        font-weight: bold;
    }
}